.navbar-light .navbar-nav .nav-link {
    color: rgb(78, 77, 77);
}


.navbar-light .navbar-nav .nav-link:hover {
  transform: scale(1.05);
  font-weight: 500;
  transition-duration: .4s;
  animation-timing-function:ease;
  background-color: #eee;
  border-radius:4px;
}
