<div class="container">
    <div class="card mt-5 shadow">

        <p-table #dt1 [value]="listOfProducts" 
        [paginator]="true"
        [rows]="10"
        sortMode="multiple" 
        [globalFilterFields]="['title','category','id']">
        <ng-template pTemplate="caption">
            <div class="d-flex justify-content-end">
                
                <span class="p-input-icon-right p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" class="form-control" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
                </span>
            </div>
        </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
                    <th pSortableColumn="title">Product Name <p-sortIcon field="title"></p-sortIcon></th>
                    <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
                    <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
                    <th pSortableColumn="category">Category <p-sortIcon field="category"></p-sortIcon></th>
                    <th pSortableColumn="quantity">Quantity <p-sortIcon field="quantity"></p-sortIcon></th>
                    <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
                    <th>Actions</th>
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>{{product.id}}</td>
                    <td>{{product.title | titlecase}}</td>
                    <td>{{ product.description | shorten:40 }}</td>
                    <td> {{product.price | currency: 'USD'}} </td>
                    <td>{{product.category | titlecase}}</td>
                    <td>{{product.quantity}}</td>
                    <td>{{product.status | uppercase}}</td>
                    <td>
                      <a (click)="onEditClicked(product.id)" class="pi pi-pencil text-success"></a>
                      <a  class="pi pi-trash ml-3 text-danger"></a>
                    </td>
                    
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>